.Sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}
.sb-header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
}
.sb-search {
  background: var(--white);
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}
.sb-search input {
  padding: 10px;
  outline-width: 0;
  border: none;
  font-size: 1.25rem;
  border-radius: 20px;
  margin-left: 10px;
}
.sb-contacts {
  background: var(--white);
  flex: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  overflow: scrollY;
}
