:root {
  --white-smoke: #DDDEDD;
  --white-ghost: #F4F5F8;
  --white: #FFFFFF;
  --green: #005d4b;
  --blue: #06625f;
  --dark-green: #054640;
}
* {
  margin: 0;
  padding: 0;
  }
.App {
  background: var(--white-smoke);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
